.main-page{
    width: 100vw;
    height: 100vh;
}
.sidebar,.content-part{
    display: block;
    float: left;
}
.sidebar{
    width: 18vw;
    background-color:grey;
    height: 50em;
}
.content-part{
    width: 82vw;
}
.nav-part,.contact-part{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.nav-part{
    height: 10vh;
}
.contact-part{
    height: 89vh;
}